<!DOCTYPE html>
<html>
  <head>
    <title>not Found</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="flex-container">
      <div class="flex-item">
        <img src="/img/404.png" class="img404">
        <span class="errorcode">404</span>
        <h1>The requested link was not found</h1>
      </div>
    </div>
  </body>
</html>
